div {
    background-image: url('el.jpg');
    background-size: 50px 50px;
    height: 200px;
    width: 200px;
}

#div1 {
    border: 4px solid rgb(148, 0, 211);
    background-repeat: no-repeat;
    background-position: center;
}
#div2 {
    border: 4px solid rgb(175, 238, 238);
    background-repeat: repeat-x;
    background-position: bottom left;
}
#div3 {
    border: 4px solid rgb(0, 128, 0);
    background-repeat: repeat-y;
    background-position: right top;
}