body {
    background-color: #B5F4FF;
}

h1 {
    font-family: Helvetica;
}

header {
    background-color: #007bff;
}

nav a {
    color: white;
    text-decoration: none;
}

a:hover {
  color: pink;
}

#contenido {
    padding: 2px;
}

section h2 {
    font-size: 25px;
}

section p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: purple;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2px;
}